$base-black: #000000;
$base-white: #ffffff;

$gray-10: #E5E5E5;
$gray-20: #CCCCCC;
$gray-30: #B2B2B2;
$gray-40: #999999;
$gray-50: #808080;
$gray-60: #666666;
$gray-70: #4D4D4D;
$gray-80: #333333;
$gray-90: #1A1A1A;

$animation: all 0.1s;